Repository CliMA/ClimaCore.jl, pull requests merged in 2021-10, with the labels that each got.

#226 plotting support for 2D rectangular mesh in unstructured mesh format.
  examples/bickleyjet/bickleyjet_cg_unsmesh.jl
  src/Meshes/box_mesh.jl
  test/grid2d.jl
Labels: Unstructured 2D mesh

#231 Scalar Poisson problem unit test in 2D to test horizontal diffusion operator
  test/diffusion2d.jl
  test/runtests.jl
Labels: horizontal model, tests

#245 add nary recursive apply ops
  src/RecursiveApply/RecursiveApply.jl
  test/recursive.jl
Labels: bug

#258 Remove doc previews when PRs are closed
  .github/workflows/DocCleanup.yml
Labels: house cleaning :broom:

#261 [VTK] add compat bounds and license
  lib/ClimaCoreVTK/LICENSE.md
  lib/ClimaCoreVTK/Project.toml
Labels: ClimaCoreVTK

#255 Solid body rotation on a sphere: Gaussian blob
  .buildkite/pipeline.yml
  examples/sphere/solidbody.jl
Labels: testcase, examples
