Repository CliMA/ClimaCore.jl, pull requests merged in 2022-05, with the labels that each got.

#699 Examples & docs Manifest : use ClimaCore v0.10.1
  docs/Manifest.toml
  examples/Manifest.toml
Labels: examples, Manifest

#700 Buildkite: update a bunch of job names
  .buildkite/pipeline.yml
Labels: CI, in-review

#690 Limiters: use q_min/q_max instead of Q_min/Q_max
  examples/plane/limiters_advection.jl
  examples/sphere/limiters_advection.jl
  src/Limiters/limiter.jl
  test/Limiters/limiter.jl
Labels: in-review, Review-requested, limiters

#703 Add great_circle_distance between LatLongZPoints
  src/Geometry/globalgeometry.jl
  test/Geometry/geometry.jl
Labels: enhancement

#695 increase dss overlap
  docs/src/operators.md
  examples/hybrid/box/bubble_3d_invariant_rhoe.jl
  examples/hybrid/driver.jl
  examples/hybrid/staggered_nonhydrostatic_model.jl
  src/Fields/Fields.jl
  src/Spaces/dss.jl
Labels: performance, distributed, Review-requested

#610 Hybrid 3D box limiters advection example
  .buildkite/pipeline.yml
  docs/make.jl
  docs/src/examples.md
  examples/Manifest.toml
  examples/hybrid/box/limiters_advection.jl
Labels: vertical model, examples, in-review, Review-requested, limiters

#713 Add scaling plots to scaling Buildkite pipeline
  .buildkite/scaling/pipeline.yml
  examples/hybrid/driver.jl
  examples/hybrid/plot_scaling_results.jl
  examples/hybrid/sphere/held_suarez_rhotheta_scaling.jl
Labels: Work-in-progress, Performance monitoring

#710 3D Box limiters example: small edit in velocity for 3rd-order upwinding
  examples/hybrid/box/limiters_advection.jl
Labels: examples, in-review, Review-requested, limiters

#721 Remove unused variable and todo
  examples/hybrid/driver.jl
Labels: House cleaning :broom:

#722 Restrict arg types for better error messages
  src/Meshes/interval.jl
  src/Meshes/rectangle.jl
Labels: API

#725 Make unique_nodes call all_nodes for GL quads
  src/Spaces/spectralelement.jl
  test/Spaces/spaces.jl
Labels: bugfix

#729 3D box limiters example: apply limiters between horz/vert tendency
  docs/src/examples.md
  examples/hybrid/box/limiters_advection.jl
Labels: examples, limiters

#714 Deformation flow: 3rd-order upwinding
  examples/hybrid/sphere/deformation_flow.jl
Labels: vertical model, examples, in-review, Review-requested, upwinding

#726 Add NC support for single column mesh
  lib/ClimaCoreTempestRemap/src/netcdf.jl
  lib/ClimaCoreTempestRemap/test/netcdf.jl
Labels: enhancement

#733 Bump versions
  Project.toml
  lib/ClimaCoreTempestRemap/Project.toml
Labels: Release

#702 3D sphere limiters example: deformation flow
  .buildkite/pipeline.yml
  docs/refs.bib
  docs/src/examples.md
  examples/hybrid/sphere/limiters_deformation_flow.jl
Labels: enhancement, testcase, examples, in-review, Review-requested, limiters

#736 3D box limiters example: use hdiv and switch order of horz/vert opera…
  docs/src/examples.md
  examples/hybrid/box/limiters_advection.jl
Labels: testcase, examples, in-review, Review-requested, limiters

#738 Docs: add 2D/3D limiter examples and SWE examples
  docs/refs.bib
  docs/src/examples.md
Labels: documentation, examples
